
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .section {
    border: 4px solid black;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  .box {
   
    display: flex;
    color: rgb(11, 10, 10);
    
  }
  .box1 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    margin: 10px;
  }
  .box2 {
    background-color: #ff6347; 
    width: 25%; 
    height: 30vh; 
    margin: 10px;
  }



 
  .section2{
    border: 4px solid black;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  .box {
   
    display: flex;
    color: rgb(11, 10, 10);
    
  }

  .box1 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    margin: 10px;
  }
  .box2 {
    background-color: #ff6347; 
    width: 25%; 
    height: 30vh; 
    margin: 10px;
  }


  .section3 {
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
  }
  .box7 {
    
    display: flex;
    color: rgb(11, 10, 10);
    
  }
  .box4 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    
  }
  .box5 {
    background-color: #ff6347; 
    width: 25%; 
    height: 30vh; 
    
  }
  .box6 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    
  }

 

.section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  border: 4px solid black;
  justify-content: flex-end;
  height: 90vh;
}



.box-r1 {
  background-color: #1e90ff; 
  width: 25%; 
  height: 15vh; 
  
}
.box-r2 {
  background-color: #ff6347; 
  width: 25%; 
  height: 15vh; 
  
}
.box-r3 {
  background-color: #1e90ff; 
  width: 25%; 
  height: 15vh; 
  
}


.section5 {
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 90vh;
  }
  .box7 {
    width: 40%; 
    height: 50%; 
    display: flex;
    color: rgb(11, 10, 10);
    
  }
  .box4 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    
  }
  .box5 {
    background-color: #ff6347; 
    width: 25%; 
    height: 30vh; 
    
  }
  .box6 {
    background-color: #1e90ff; 
    width: 25%; 
    height: 30vh; 
    
  }


  .section6 {
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    height: 90vh;
  }


.boxr {
  
  color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
  
  
}

.boxx1 {
  align-self: flex-end;
  order: 1; 
  background-color: #57a3ee;
  width: 25%; 
  height: 30vh; 
}

.boxx2 {
  align-self: center; 
  order: 2; 
  background-color: #ff6347;
  width: 25%; 
  height: 30vh; 
}

.boxx3{
  align-self: flex-start; 
  order: 3; 
  background-color: #57a3ee;
  width: 25%; 
  height: 30vh; 
}

.section7 {
  border: 4px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content:center;
  flex-direction: column; 
  align-items: center; 
  height: 90vh;
  row-gap: 10px;
}

.content-container {
  color: black;
  justify-content: center;
  display: flex;
  padding:10px;
  width: 80%;
  background-color: orangered;
 
}
.dernier-exo {
  background-color: #57a3ee;
  height: 10vh; 
  width: 20%; 
  display: flex;
  align-items: center;
  justify-content: center;

}



.content-box {
  display: flex;
  color: rgb(6, 5, 5);
  height: 45vh;
  justify-content: center;
  width:50%;
  padding: 10px;
  flex-direction: column;
}

.box-large-title {
  background-color: grey;
  width: 50%; 
  height: 45vh; 
  display: flex;
  row-gap: 60px;
  text-align:center;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 20px;

}




